<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Création du compte</title>
</head>

<body>
<h1>Création du compte</h1>
<p>Bonjour {{ user.username }} 
</body>

</html>
