{% extends "/frontoffice/layout.html.twig" %}

{% block content %}

	<!--Section -->
	<div class="container">
		<div class="row">
			<haeder class="col-12 text-white text-center bg-secondary my-5">

				<h3 class="text-uppercase">Bernadetta Sibe</h3>

			</haeder>
		</div>
	</div>

	<!--Contact form -->
	<section id="contact-form">
		<div class="container">
			<div class="row">
				<h5 class="text-center text-uppercase text-secondary mb-0 my-5">Me connecter</h5>
				<hr class="star-dark mb-5">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<form action="#" method="post">

							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Votre prénom</label>
								<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Jean">
							</div>

							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Votre nom</label>
								<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dubois">
							</div>


							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Votre e-mail</label>
								<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
							</div>

							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">Message</label>
								<textarea class="form-control" name="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Veuillez entrer votre message."></textarea>
							</div>

							<div class="d-grid gap-2 col-6 mx-auto my-5">
								<button type="submit" class="btn btn-success" type="button">Envoyer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
