{% extends "/frontoffice/layout.html.twig" %}

{% block content %}
	<section id="registration">
		<div class="container">
			<div class="row">
				<h5 class="text-center text-uppercase text-secondary mb-0 my-5">Créer un compte d'utiliateur</h5>
				<hr class="star-dark mb-5">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<form method="POST">
						{{tutu}}
						<input type="hidden" value="{{ token }}" id="token" name="token">

							<div class="mb-3">
								<label class="form-label">Votre nom d'utilisateur</label>
								<input id="name" name="username" value="{{datassaisi.username}}" type="text" class="form-control" required="required">
							</div>

							<div class="mb-3">
								<label class="form-label">Votre e-mail</label>
								<input id="email" name="email" type="email" value="{{datassaisi.email}}" class="form-control" required="required">
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">Mot de passe</label>
								<input id="password" name="password" type="password" class="form-control" class="form-control" required=" 
								required">
							</div>

							<div class="mb-3">
								<label for="password_confirm" class="form-label">Confirmer le mot de passe</label>
								<input id="password_confirm" type="password" name="password_confirm" class="form-control" class=" form-control"required=" required">
							</div>

							<div class="d-grid gap-2 col-6 mx-auto my-5">
								<button class="btn btn-success" type="submit">S'inscrire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
