{% extends "/frontoffice/layout.html.twig" %}

{% block content %}
<!--Header section -->
	<section class="blog">
		<div class="container">
			<div class="row">
				<div class="p-4 p-md-5 mb-4 text-center text-white rounded bg-secondary my-5">
					<div class="col-md-12 px-0">
						<h1 class="display-4">Admin interface</h1>
					</div>
				</div>
			</div>
		</div>

    <section>
        <div class="container">
        <div class="row">
        <div class="col-md-2">
        
                <p>
                    <a href="http://localhost:8000/?action=addpost" class="btn btn-success">Ajouter un article</a>
                </p>

                 <p>
                    <a href="http://localhost:8000/?action=editpost" class="btn btn-success">Modifier un article</a>
                </p>
                <p>
                    <a href="http://localhost:8000/?action=editcomment" class="btn btn-success">Modifier commentaire</a>
                </p>
                
         </div>  
            <div class="col-md-10">
            <p>
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Titre</td>
                        <td>Dernière modification</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                   
                    </tbody>
                </table>
                </p>
                <p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Auteur</td>
                            <td>Commentaire</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                       <tbody>
                        
                        </tbody>
                    </table>
                    <p>
                    </div>
                  </div>
                </div>
            </section>
    {% endblock %}