{% extends "/backoffice/layout.html.twig" %}

{% block content %}
	<!--Header section -->
	<div class="container">
		<div class="row">
			<div class="p-4 p-md-3 mb-4 text-center text-white rounded bg-primary my-3">
				<div class="col-md-12 px-0">
					<h1 class="display-4">Articles</h1>
				</div>
			</div>
		</div>
	</div>
	<!--List post section -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<p>
						<a href="http://localhost:8000/?action=backaddarticle"
						class="btn btn-primary">Ajouter un article</a>
					</p>

				</div>
				<div class="col-md-12">
					<p>
						<table class="table">
							<thead>
								<tr>
									<td>ID</td>
									<td>Titre</td>
									<td>Dernière modification</td>
									<td>Action</td>
								</tr>
							</thead>
							<tbody>
								{% for post in posts %}
									<tr>
										<td>{{ post.id }}</td>
										<td>{{ post.title }}</td>
										<td>{{ post.dateUpdate|date("d/m/Y") }}</td>
										<td>
											<a href="http://localhost:8000/?action=backeditarticle" class="btn btn-primary">Modifier</a>

											<a href="http://localhost:8000/?action=deletepost&id={{post.id}}" class="btn btn-danger">Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
