{% extends "/frontoffice/layout.html.twig" %}

 {% block content %}
<!--Header section -->
<header>
        <div class="container">
	        <div class="row">
				<div class="p-4 p-md-5 mb-4 text-center         text-white rounded bg-secondary my-5">
				    <div class="col-md-12 px-0">
						<h1 class="display-4">Admin Interface</h1>
					</div>
				</div>
			</div>
		</div>
</header>




{% endblock %}