{% extends "/backoffice/layout.html.twig" %}

{% block content %}
	<section id="edituser">
		<div class="container">
			<div class="row">
				<h5 class="text-center text-uppercase text-secondary mb-0 my-5">Utilisateur</h5>
				<hr class="star-dark mb-5">
				<div class="row">
					<div class="col-lg-8 mx-auto">
						<form method="POST">

							<div class="mb-3">
								<label class="form-label">Votre nom d'utilisateur</label>
								<input id="name" name="username" value="" type="text" class="form-control" required="required">
							</div>

							<div class="mb-3">
								<label class="form-label">Votre e-mail</label>
								<input id="email" name="email" type="email" value="" class="form-control" required="required">
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">Mot de passe</label>
								<input id="password" name="password" type="password" class="form-control" class=" form-control" required=" required">
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">Role</label>
								<select mame="role" required class="form-select">
									<option selected>Choisi le role</option>
									<option value="admin">Admin</option>
									<option value="user">User</option>
								</select>
							</div>


							<div class="d-grid gap-2 col-6 mx-auto my-5">
								<button class="btn btn-primary" type="submit">Editer</button>
							</div>
                          
						</form>
                        
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
